<h2>Painel de Vagas</h2>

<form #form="ngForm" (ngSubmit)="cadastrarVaga()">
  <label>ID</label>
  <input type="text" name="id" [(ngModel)]="vaga.id"> <br>

  <label>Nome da Vaga</label>
  <input type="text" name="nome" [(ngModel)]="vaga.nome"> <br>

  <label>URL da Foto</label>
  <input type="text" name="foto" [(ngModel)]="vaga.foto"> <br>

  <label>Descrição</label>
  <input type="text" name="descricao" [(ngModel)]="vaga.descricao"> <br>

  <label>Salário</label>
  <input type="text" name="salario" [(ngModel)]="vaga.salario"> <br>

  <button type="submit">Cadastrar Vaga</button>
  <button type="button" (click)="atualizarVaga(vaga.id)">Atualizar Vaga</button>
  <button type="button" (click)="excluirVaga(vaga.id)">Excluir Vaga</button>
</form>

<hr>

<h3>Vagas Cadastradas</h3>
<section class="listar-vagas">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Salário</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vaga of vagas">
        <td>{{ vaga.id }}</td>
        <td>{{ vaga.nome }}</td>
        <td>{{ vaga.descricao }}</td>
        <td>R$ {{ vaga.salario }}</td>
        <td>
          <button (click)="listarVgaPorid(vaga)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<div class="rodape"></div>
